li {
  list-style-type: none;
}

ul {
  padding-inline-start: 0;
}

.page {
  font-family: "Be Vietnam", sans-serif;
  font-size: 12.5px;
  color: #252E55;
  --button-color: #F3613C;
}

.container {
  width: 870px;
  margin: auto;
  padding: 5px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  padding-top: 35px;
  padding-bottom: 78px;
}

.nav-header {
  display: flex;
}

.nav-header__item {
  padding: 0 14px;
}

.nav-header-container {
  padding-right: 32px;
}

.logo {
  height: 19px;
}

.logo-wrapper {
  padding-top: 10px;
}

.first-impression {
  display: flex;
  justify-content: space-between;
}

.first-impression-container {
  padding-bottom: 51px;
}

.first-impression-text-container {
  padding-top: 11px;
}

.first-impression__header {
  line-height: 51px;
  margin-bottom: 30px;
  font-weight: 700;
}

.first-impression__sub-header{
  width: 280px;
  line-height: 20px;
}

.first-impression__image {
  height: 417px;
  width: 427px;
  object-fit: cover;
  object-position: 0 0;
}

.features {
  display: flex;
}

.features__subheader {
  width: 280px;
}

.features-list {
  width: 55%;
  padding-top: 9px;
}

.features-list-item {
  display: flex;
  align-items: baseline;
  padding-bottom: 9px;
}

.list-number {
   background-color: var(--button-color);
   color: white;
   border-radius: 19px;
   padding: 6px 19px;
}

.features-list-description {
  padding-left: 23px;
}

.features-list__paragraph {
  line-height: 22px;
}

.testimonies {
  text-align: center;
}

.features-container {
  padding-bottom: 55px;
}

.testimonies-list {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.testimonies-list-item {
  width: 425px;
  margin: 62px 13px;
  flex-shrink: 0;
  position: relative;
}

.testimony__avatar {
  position: absolute;
  height: 58px;
  left: 50%;
  margin-left: -29px;
  top: -29px;
}

.testimony-body {
  background-color: #FAFAFA;
  height: 120px;
  padding: 36px 26px;
  padding-bottom: 20px;
}

.testimony-paragraph {
  line-height: 21px;
}

.motto {
  height: 178px;
  background-color: var(--button-color);
  padding-top: 19px;
  box-sizing: border-box;
}

.motto-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.motto-header {
  width: 390px;
}

.footer {
  color: white;
  background-color: #1E1E26;
}

.footer-container {
  height: 188px;
}

.link {
  font-size: 10px;
  text-decoration: none;
  font-weight: 550;
}

.link:visited {
  color: inherit;
}

.link_on-dark-background {
  font-size: 12px;
  font-weight: normal;
}

.paragraph {
  color: hsl(227, 12%, 61%);
}

.header-h1 {
  font-size: 45px;
}

.header-h2 {
  line-height: 38px;
  font-size: 31px;
}

.header-h2_dark-background {
  color: white;
  line-height: 36px;
}

.header-h3 {
  font-size: 13px;
}

.get-started-button {
  background-color: var(--button-color);
  color: white;
  text-decoration: none;
  height: 35px;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 17.5px;
  font-size: 10px;
  font-weight: 500;
  box-shadow: 0 10px 10px -5px #FFB19E;
}

.get-started-button_dark-background {
  background: white;
  color: var(--button-color);
  font-weight: 700;
  box-shadow: 0 10px 10px -5px #C26957;
}

.get-started-impression-wrapper {
  margin-top: 35px;
}
