li {
  list-style-type: none;
}

ul {
  padding-inline-start: 0;
}

.page {
  font-family: "Be Vietnam", sans-serif;
  font-size: 12.5px;
  color: #252E55;
  margin: 0;
  --button-color: #F3613C;
}

.container {
  width: 870px;
  margin: auto;
  padding: 5px 0;
}

@media screen and (max-width: 870px) {
  .container {
    width: 100%;
    padding: 0 23px;
    box-sizing: border-box;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  padding-top: 35px;
  padding-bottom: 78px;
}

@media screen and (max-width: 870px) {
  .header-container {
    padding-bottom: 45px;
  }
}

.nav-header {
  display: flex;
}

@media screen and (max-width: 870px) {
  .nav-header {
    display: none;
  }
  .button-header {
    display: none !important;
  }
}

.nav-header__item {
  padding: 0 14px;
}

.nav-header-container {
  padding-right: 32px;
}

.logo {
  height: 19px;
}

.logo-wrapper {
  padding-top: 10px;
}

.first-impression {
  display: flex;
  justify-content: space-between;
}

.first-impression-container {
  padding-bottom: 51px;
}

.first-impression-text-container {
  padding-top: 11px;
}

@media screen and (max-width: 870px) {
  .first-impression {
    flex-direction: column;
  }
  .first-impression-text {
    order: 1;
  }
}

.first-impression__header {
  line-height: 51px;
  margin-bottom: 30px;
  font-weight: 700;
}

@media screen and (max-width: 870px) {
  .first-impression__header {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.first-impression__sub-header {
  width: 280px;
  line-height: 20px;
}

@media screen and (max-width: 870px) {
  .first-impression__sub-header {
    width: 100%;
    margin-top: 3px;
  }
}

.first-impression__image {
  height: 417px;
  width: 427px;
  object-fit: cover;
  object-position: 0 0;
}

@media screen and (max-width: 870px) {
  .first-impression__image {
    width: 100%;
    height: auto;
  }
}

.get-started-impression-wrapper {
  margin-top: 35px;
}

@media screen and (max-width: 870px) {
  .get-started-impression-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 28px;
  }
}

.features {
  display: flex;
}

.features__subheader {
  width: 280px;
}

.features-list {
  width: 55%;
  padding-top: 9px;
}

.features-list-item {
  display: flex;
  align-items: baseline;
  padding-bottom: 9px;
}

.list-number {
   background-color: var(--button-color);
   color: white;
   border-radius: 19px;
   padding: 6px 19px;
}

.features-list-description {
  padding-left: 23px;
}

.features-list__paragraph {
  line-height: 22px;
}

.testimonies {
  text-align: center;
}

.features-container {
  padding-bottom: 55px;
}

.testimonies-list {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.testimonies-list-item {
  width: 425px;
  margin: 62px 13px 30px 13px;
  flex-shrink: 0;
  position: relative;
}

.testimony__avatar {
  position: absolute;
  height: 58px;
  left: 50%;
  margin-left: -29px;
  top: -29px;
}

.testimony-body {
  background-color: #FAFAFA;
  height: 120px;
  padding: 36px 26px;
  padding-bottom: 20px;
}

.testimony-paragraph {
  line-height: 21px;
}

.under-testimonies-spacer {
  margin: 0 auto 144px auto;
}

.motto {
  height: 178px;
  background-color: var(--button-color);
  padding-top: 19px;
  box-sizing: border-box;
}

.motto-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.motto-header {
  width: 390px;
}

.footer {
  background-color: #1E1E26;
  color: white;
}

.footer-container {
  height: 188px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;

}

.footer-logos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 25.5%;
  height: 105px;
  padding-top: 45px;
  flex-shrink: 0;
}

.social {
  width: 122px;
  display: flex;
  justify-content: space-between;
}

.social-logo {
  height: 16px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 51%;
  height: 128px;
  padding-top: 30px;
  line-height: 27px;
}

.footer-nav-second-column {
  padding-left: 40px;
}

.email-form {
  padding-top: 49px;
  display: flex;
}

.email-form__input-text {
  width: 158px;
  height: 34px;
  border-radius: 17px;
  border-style: none;
  outline: none;
  padding: 4px 0 0 12px;
  box-sizing: border-box;
  letter-spacing: 0.3px;
  font-size: 10px;
  font-weight: 400;
}

.email-form__input-text::placeholder {
  color: #999;
}

.email-form__input-text:active {
  outline: none;
  border-style: none;
}

.copyright {
  padding-top: 38px;
  font-size: 10px;
  text-align: right;
  color: #888;
}

.link {
  font-size: 10px;
  text-decoration: none;
  font-weight: 550;
  color: inherit;
}

.link:visited {
  color: inherit;
}

.link_dark-background, .link_dark-background:visited {
  font-size: 11px;
  font-weight: normal;
  color: #ddd;
}

.paragraph {
  color: hsl(227, 12%, 61%);
}

@media screen and (max-width: 870px) {
  .paragraph {
    text-align: center;
    font-size: 16px;
    line-height: 28px;
  }
}

.header-h1 {
  font-size: 45px;
}

@media screen and (max-width: 870px) {
  .header-h1 {
    font-size: 38px;
    text-align: center;
  }
}

.header-h2 {
  line-height: 38px;
  font-size: 31px;
}

.header-h2_dark-background {
  color: white;
  line-height: 36px;
}

.header-h3 {
  font-size: 13px;
}

.button {
  background-color: var(--button-color);
  color: white;
  text-decoration: none;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 17.5px;
  font-size: 10px;
  font-weight: 500;
  box-shadow: 0 10px 10px -5px #FFB19E;
  outline: none;
  border: none;
}

@media screen and (max-width: 870px) {
  .button {
    height: 46px;
    border-radius: 23px;
    letter-spacing: 0.5px;
  }
}

.get-started-button {
    width: 110px;
}

@media screen and (max-width: 870px) {
  .get-started-button {
    width: 136px;
    font-size: 12px;
  }
}

.get-started-button_dark-background {
  background: white;
  color: var(--button-color);
  font-weight: 700;
  box-shadow: 0 10px 10px -5px #D76048;
}

.go-button {
  margin: 0 7px;
  width: 50px;
  padding-top: 5px;
  box-shadow: none;
  font-size: 9px;
  font-weight: 550;
}

.footer {
  display: none;
}
