.page {
  font-family: "Be Vietnam", sans-serif;
  font-size: 12.5px;
  color: #252E55;
  letter-spacing: 0.15px;
}

.container {
  width: 870px;
  margin: auto;
  padding: 5px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-header {
  display: flex;
}

.first-impression {
  display: flex;
}

.features {
  display: flex;
}

.testimonies {
  text-align: center;
}

.testimonies-list {
  display: flex;
}

.motto {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  color: white;
  background-color: #1E1E26;
}

.footer-container {
  height: 188px;
}

.link {
  font-size: 10px;
  text-decoration: none;
  font-weight: 550;
}

.link:visited {
  color: inherit;
}

.link_on-dark-background {
  font-size: 12px;
  font-weight: normal;
}

.paragraph {
  color: hsl(227, 12%, 61%);
}
